*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
 
#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
  

#ulist{
    display: flex;
    justify-content: space-between;
}
#img{
    height: 160px;
}
#navcontent{
    margin:45px;
    width: 200px;
    
    display: flex ;
    justify-content: space-evenly;
    font-size: 25px;
}
#navcontent a{
    text-decoration: none;
    color: white;
}
.slogan{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    
}
.buton{
    display: flex;
    justify-content: center;
    
}
.buton button{
    height: 3rem;
    width: 9rem;
    border-radius: 15px;
    font-size:18px;
    background-color: grey;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.buton button:hover{
    transform: scale(1.05);
    background-color: black;
}