*{
    padding: 0px;
    margin: 0px;
    /* box-sizing: border-box; */
    list-style: none;
}
.main{
    background: url(bgc3.jpg)
}
.nav{
    
    background-color: black;
    height: 89px;
    
    
}
.unlst{
    display: flex;
    justify-content: space-between;
}
.navimg{
    position: relative;
}
#img{
    height: 120px;
    position: absolute;

    
}
.navcontent{
    padding-top: 65px;
    /* margin-right: 300px; */
    width: 35rem;
    display: flex;
    justify-content: space-evenly;
    
}
.navcontent a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;

}
.navcontent a:hover{
    color: red;
}
.container1 {
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 20px;
    
    
}
.box1{
    border: 1px solid white;
    border-radius: 2px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgba(44, 43, 43, 0.267);
    

}
.box1 img{
    height: 20vw;
    width: 25vw;
    border: 2px solid;
}
.imgs:hover{
    transform: scale(1.03);
    transition-duration: 1sec;
    transition-timing-function: linear;
    transition-delay: 0.1s;
}
#hed{
    color: black;
    font-size: 2rem;
    color: white;
    font-weight: 300;
}
.box1 button{
    width: 7rem;
    border-radius: 5px;
    height: 2rem;
    font-weight: bold;
    color: black;
    background-color: white;
    border: 4px solid white;
    font-size: 1rem;
    
}
.box1 button:hover{
    background-color: red;
    color: white;
    transform: scale(1.2);
}